<html>
<body>
<h4><b>ফর্ম পূরণের নির্দেশণাঃ</b></h4>
<table class="table">
<tr><td>এই ফর্মটি পূরণের আগে আপনাকে 01711026806 এই একাউন্টে bKash অথবা DBBL অথবা Cash এর মাধ্যমে <b>৫০ টাকা</b> প্রেরণ করতে হবে। Cash প্রদান এর ক্ষেত্রে আমাদের অফিসের নির্ধারিত এজেন্ট এর কাছে টাকা জমা দিতে পারেন। bKash অথবা DBBL অথবা Cash এর মাধ্যমে টাকা প্রদানের পর আপনি একটি Transaction ID পাবেন যা রেজিস্ট্রেশন করতে দরকার হবে। নম্বরটি সংরক্ষণ করুন।</td><tr>
<tr><td>১।  Exam List থেকে আপনার কাঙ্খিত Exam টি নির্বাচন করুন।</td><tr>
<tr><td>২।  দ্বিতীয় তালিকা থেকে কিভাবে টাকা প্রেরণ করেছেন তার তালিকা নির্বাচন করুন।</td><tr>
<tr><td>৩।  পরবর্তী ঘরে Transaction ID টি টাইপ করুন।</td><tr>
<tr><td>৪।  Submit Button টি চাপুন।</td><tr>
</table>
</br>
<i>বিশেষ দ্রষ্টব্যঃ একাউন্ট রেজিষ্ট্রেশন সংক্রান্ত আরও বিস্তারিত জানতে 01778838883 নম্বরে যোগাযোগ করুন। </i>
</body>
</html>